@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: Arial;
}

body{
  background-color: #1238;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-user-select: none;
  /* -webkit-user */
  /* overflow: hidden; */
}

.main-app{
  width: 100vw;
  height: 100vh;
  background-color: #C8C8C8;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}

@media screen and ( max-width:500px){
    .main-app{
    width: 100vw;
    height: 100vh;
    }  
    
}

.tapete{
   width: 30.6vw;
  height: 360px; 
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #222;
  display: none;
}

