*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: monospace;
}

body{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-app{
  width: 300px;
  height: 90vh;
  background-color: #C8C8C8;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and ( max-width:700px){
    .main-app{
    width: 100vw;
    height: 100vh;
    }  
    
}

